<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gy.mapper.AccountNotesMapper">

	<insert id="addnotes" parameterType="AccountNotes" useGeneratedKeys="true">
		insert into accountnotes(user_id,money,payment,times) values(#{user_id},#{money},#{payment},now())
	</insert>
	
	<select id="findAll" parameterType="AccountNotes" resultType="AccountNotes">
		select *  from accountnotes where user_id=#{user_id}
	</select>
	
	<select id="findAllBymoney" parameterType="AccountNotes" resultType="AccountNotes">
		select *  from accountnotes where user_id=#{user_id} and money>0
	</select>
	
	<select id="findAllBymoneys" parameterType="AccountNotes" resultType="AccountNotes">
		select *  from accountnotes where user_id=#{user_id}
	</select>
</mapper>