<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gy.mapper.AttentionMapper">
<!-- 查询用户关注的人的具体信息 -->
	<select parameterType="Attention" resultType="UserInfo" id="getAttentionInfo">
		select * from userInfo where user_id in
			(select attention from attention where user_id=#{userInfo.user_id})
	</select>
	
	<select id="getAttentionCount" parameterType="Attention" resultType="string">
		select count(1) count from attention where user_id=#{userInfo.user_id}
	</select>
	
	<select id="getFansCount" parameterType="Attention" resultType="string">
		select count(1) from  attention where attention=#{userInfo.user_id}

	</select>
	
	<select id="getFansInfo" parameterType="Attention" resultType="UserInfo">
	select * from userInfo where user_id in
		(select user_id from  attention where attention=#{userInfo.user_id})
	</select>
	
	<!-- 判断是否已关注 -->
	<select id="isAttion" parameterType="Attention" resultType="java.lang.Integer">
	select count(1) from attention where user_id =#{userInfo.user_id} and attention=#{attention} 
	</select>
	
	
	<insert id="insertAttion" parameterType="Attention" >
		insert into attention(attention,user_id) values(#{attention},#{user_id})
	</insert>
	
	<update id="delAttion" parameterType="Attention" >
	delete from attention where attention=#{attention} and user_id=#{user_id};
	</update>
</mapper>