<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gy.mapper.StudyCourseMapper">


	<!-- //通过userid查课程信息 -->
	<resultMap type="Course" id="CourseByUsidMap">
		<id column="course_id" property="course_id"/>
		<result column="course_name" property="course_name"/>
		<result column="course_view" property="course_view"/>
		<result column="course_description" property="course_description"/>
		<result column="coursephoto" property="coursephoto"/>
		<result column="courseting" property="courseting"/>
		<collection property="userInfo" ofType="UserInfo">
			<id column="user_id" property="user_id"/>
			<result column="user_name" property="user_name"/>
		</collection>
		<collection property="lass_category" ofType="Class_category" >
			<id column="class_id" property="class_id"/>
			<result column="class_categorys" property="class_categorys"/>
		</collection>
	</resultMap>
	<select id="getCourseByUsid" resultMap="CourseByUsidMap" parameterType="StudyCourse">
		 select s.*,(select count(1) from studyCourse where course_id = s.course_id ) memberCount,
		(select avg(assess) from studyCourse where course_id = s.course_id) assessAvg,
		(select count(*) from class_hour ch where ch.course_id=s.course_id )totalCm,
		(select studyPeriod from studyCourse sc where sc.user_id=#{userInfo.user_id} and sc.course_id=s.course_id)studyPeriod
		 from course s
		 left join userInfo u
		 on s.user_id=u.user_id
		 left join class_category cl
		 on cl.class_id=s.class_id
		 where s.course_id in(select course_id from studyCourse  where user_id =#{userInfo.user_id})
	</select>

	<select id="showStudyCourse" resultMap="MappingClass" parameterType="StudyCourse">
		select c.*,
		(select begintime from studyCourse s where s.course_id=c.course_id) begintime
		from course c where c.course_id in
		(select course_id from studyCourse where user_id=#{userInfo.user_id}) order by begintime limit #{userInfo.pagenumber},#{userInfo.pagesize}
	</select>
	<resultMap id="MappingClass" type="Course" >
		<id column="course_id" property="course_id"/>
		<result column="course_name" property="course_name"/>
		<result column="begintime" property="studyPeriod"/>
	</resultMap>

	<select id="getCourseCount" parameterType="StudyCourse"
		resultType="string">
		select count(1) from studyCourse where user_id =
		#{userInfo.user_id}
	</select>
	
	<insert id="addStudyCourse" parameterType="StudyCourse" useGeneratedKeys="true" > 
		insert into studyCourse(user_id,course_id,begintime,assess)	
		values(#{userInfo.user_id},#{course.course_id},#{begintime},#{assess})
	</insert>
	
	<select id="getOneCourseCount" parameterType="StudyCourse" resultType="StudyCourse">
		select * from studyCourse where user_id=#{userInfo.user_id} and course_id=#{course.course_id}
	</select>

<update id="pinglunCourse" parameterType="StudyCourse" >
update studyCourse set assess=#{assess} where user_id=#{userInfo.user_id} and course_id=#{course.course_id}
</update> 
</mapper>